/docs/
/lib/
/bin/
/.shards/
*.dwarf
node_modules


/test.cr
/*_test.cr
/spec/fixtures/js_project
/spec/fixtures/nextjs-blog
/spec/fixtures/create-react-app
/spec/fixtures/workspaces_example
/spec/fixtures/my-turborepo
